{{ template "layout" . }}

{{ define "title" }}Complete Registration - {{ .App.Config.ApplicationName }}{{ end }}

{{ define
  "content"
}}
<div class="flex flex-col gap-4 md:w-1/4">
  <!-- CreateNewPlayer -->
  {{ if .App.Config.CreateNewPlayer.Allow }}
  <div class="flex flex-col gap-2">
    <h3 class="text-2xl font-bold">Create a player</h3>
    <p>Complete registration by creating a new player:</p>
    <form class="flex flex-col gap-2" action="{{ .App.FrontEndURL }}/web/register" method="post">
      <input required class="bg-neutral-800 p-2 rounded" type="text" name="playerName" id="player-name" placeholder="Player Name" value="{{ .PreferredPlayerName }}" {{ if not .AllowChoosingPlayerName }}
          title="Choosing a player name is not allowed."
          disabled
        {{ end }} />
      <input type="text" name="email" placeholder="Leave this blank" class="honeypot hidden"/>
      <input hidden type="checkbox" name="useIdToken" checked />
      {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
        <input class="bg-neutral-800 p-2 rounded" type="text" name="uuid" placeholder="Player UUID (leave blank for random)" pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$" />
      {{ end }}
      <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      {{ if .InviteCode }}
        <small class="text-neutral-300 italic">Using invite code {{ .InviteCode }}</small>
      {{ end }}
      <input type="submit" value="Register" class="bg-violet-500 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed" />
    </form>
  </div>
  {{ end }}

  {{ if .AnyUnmigratedUsers }}
  <hr class="border-b border-b-zinc-600">
  <div class="flex flex-col gap-2">
    <h3 class="text-2xl font-bold">Migrate an existing profile</h3>

    <p>
      You can link your Astrality account to an existing {{ .App.Config.ApplicationName }} profile.
      <br>
      <span class="text-yellow-300">If you do so, you will no longer be able to log in using your {{ .App.Config.ApplicationName }} password. You'll need to use your Minecraft Token to log in to Minecraft launchers.</span>
    </p>

    <form class="flex flex-col gap-2" action="{{ .App.FrontEndURL }}/web/oidc-migrate" method="post">
      <input class="bg-neutral-800 p-2 rounded" type="text" name="username" placeholder="Username" required />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input class="bg-neutral-800 p-2 rounded" type="password" name="password" placeholder="Password" required />
      <input type="submit" value="Link account" class="bg-violet-500 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed" />
    </form>
  </div>
  {{ end }}

  <!-- ImportExistingPlayer -->
  {{ if .App.Config.ImportExistingPlayer.Allow }}
    <h3>Register from an existing Minecraft player</h3>
    {{ if and .App.Config.RegistrationExistingPlayer.RequireInvite (not
      .InviteCode)
    }}
      <p>Registration as an existing player is invite-only.</p>
    {{ else }}
      {{ if .App.Config.ImportExistingPlayer.RequireSkinVerification }}
        <p>
          Register a new account with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} account.
          Requires verification that you own the account.
        </p>
        {{ if .InviteCode }}
          <p><em>Using invite code {{ .InviteCode }}</em></p>
        {{ end }}
        <form action="{{ .App.FrontEndURL }}/web/register-challenge" method="get">
          <input
            required
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} Player name"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            {{ if not .AllowChoosingPlayerName }}
              value="{{ .PreferredPlayerName }}"
              title="Choosing a player name is not allowed."
              disabled
            {{ end }}
          />
          <input
            hidden
            type="checkbox"
            name="useIdToken"
            checked
          />
          <input
            hidden
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
          />
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="Continue" />
        </form>
      {{ else }}
        <p>
          Register a new account with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} account.
        </p>
        <form action="{{ .App.FrontEndURL }}/web/register" method="post">
          <input
            required
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} Player name"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
          />
          <input
            hidden
            type="checkbox"
            name="useIdToken"
            checked
          />
          <input type="checkbox" name="existingPlayer" checked hidden />
          <input
            hidden
            type="text"
            name="inviteCode"
            value="{{ .InviteCode }}"
          />
          {{ if .InviteCode }}
            <p><em>Using invite code {{ .InviteCode }}</em></p>
          {{ end }}
          <input type="submit" value="Register" />
        </form>
      {{ end }}
    {{ end }}
  {{ end }}
  </div>
{{ end }}
