{{ define "base" }}
  <!doctype html>
  <html lang="en" class="dark bg-white dark:bg-neutral-950 text-white">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="minimum-scale=1, width=device-width, initial-scale=1.0" />
      <meta
        name="description"
        content="Minecraft Authentication server for Lunarie, Astrality's Minecraft server."
      />
      <link rel="icon" href="{{ .App.PublicURL }}/icon.png" />
      <link
        rel="manifest"
        href="{{ .App.FrontEndURL }}/web/manifest.webmanifest"
      />
      <link
        rel="stylesheet"
        href="{{ .App.PublicURL }}/style.css"
      />
      <title>{{ block "title" . }}{{ end }}</title>
    </head>
    <body>
      <!--{{ template "header" . }}-->
      <main>
        <div class="max-w-screen-xl flex flex-nowrap flex-col mx-auto px-4 space-y-5">
          {{ block "content" . }}{{ end }}
        </div>
      </main>
      <!--{{ template "footer" . }}-->
    </body>
  </html>
{{ end }}
