{{ template "layout" . }}

{{ define "title" }}Register • {{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ $dividerNeeded := false }}
  
  <div class="flex-1 w-full flex flex-col items-center justify-center">
    <img src="https://assets.astrality.party/brand/elysium/elysium-leaf.svg" class="w-64 md:w-1/4">
    <!-- Sign in with OpenID -->
    {{ if gt (len .WebOIDCProviders) 0 }}
      {{ if $dividerNeeded }}
        <div class="divider">or</div>
        {{ $dividerNeeded = false }}
      {{ end }}
      {{ range $provider := $.WebOIDCProviders }}
        {{ if and $provider.RequireInvite (not $.InviteCode) }}
          You need an invite to sign in.
        {{ else }}
          <a href="{{ $provider.AuthURL }}">
          <button class="bg-neutral-700 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed">
              <img src="https://assets.astrality.party/brand/astrality/astrality-logo.png" class="h-8">
              Sign in with {{ $provider.Name }}
            </button>
          </a>
        {{ end }}
      {{ end }}
      {{ $dividerNeeded = true }}
    {{ end }}
  </div>

  <!-- RegistrationNewPlayer -->
  <!--
  {{ if and .App.Config.RegistrationNewPlayer.Allow .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">or</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <h3>Register</h3>
    {{ if and .App.Config.RegistrationNewPlayer.RequireInvite (not .InviteCode) }}
      <p>Registration as a new player is invite-only.</p>
    {{ else }}
      {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
        <p>Register a new account:</p>
      {{ else }}
        <p>Register a new account with a random UUID:</p>
      {{ end }}
      <form action="{{ .App.FrontEndURL }}/web/register" method="post">
        <input
          type="text"
          name="playerName"
          placeholder="Username"
          maxlength="{{ .App.Constants.MaxUsernameLength }}"
          required
        />
        <input
          type="text"
          name="email"
          placeholder="Leave this blank"
          class="honeypot"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          minlength="{{ .App.Config.MinPasswordLength }}"
          class="long"
          required
        />
        {{ if .App.Config.CreateNewPlayer.AllowChoosingUUID }}
          <p>
            <input
              class="long"
              type="text"
              name="uuid"
              placeholder="Player UUID (leave blank for random)"
              pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
            />
          </p>
        {{ end }}
        <input type="text" name="inviteCode" value="{{ .InviteCode }}" hidden />
        <input hidden name="returnUrl" value="{{ .URL }}" />
        {{ if .InviteCode }}
          <p><em>Using invite code {{ .InviteCode }}</em></p>
        {{ end }}
        <p>
          <input type="submit" value="Register" />
        </p>
      </form>
    {{ end }}
    {{ $dividerNeeded = true }}
  {{ end }}
  -->
{{ end }}
