{{ template "layout" . }}

{{ define "title" }}{{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  <div class="{{if not .User}}md:h-screen{{end}} md:w-full flex flex-row flex-wrap md:flex-nowrap items-center justify-center md:justify-evenly">
    <img src="https://assets.astrality.party/brand/elysium/elysium-leaf.svg" class="w-1/3">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        <h1 class="font-bold text-7xl">Elysium</h1>
        <p>Minecraft Authentication server for Lunarie, Astrality's Minecraft server.
        <br>
        Elysium manages your Minecraft account profile, which includes skin, cape, and username.
        </p>
      </div>
      <div class="flex flex-row gap-2">
        {{ if .User }}
          <a href="/web/user">
            <button class="bg-neutral-500 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed">
            Profile
            </button>
          </a>
        {{ else }}
          {{ if gt (len .WebOIDCProviders) 0 }}
            {{ range $provider := $.WebOIDCProviders }}
              <a href="{{ $provider.AuthURL }}">
                <button class="bg-neutral-800 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed">
                  <img src="https://assets.astrality.party/brand/astrality/astrality-logo.png" class="h-8">
                  Sign in with {{ $provider.Name }}
                </button>
              </a>
            {{ end }}
          {{ end }}
        {{ end}}
      </div>
    </div>
  </div>
  {{ if and .App.Config.AllowPasswordLogin (not .User)}}
    <div class="flex flex-col items-center justify-center gap-4 mb-4 border-t-1 border-neutral-500 pt-4">
      <h2 class="font-bold text-2xl">Legacy Login</h2>
      <form action="{{ .App.FrontEndURL }}/web/login" method="post" class="flex flex-col gap-4">
        <input class="bg-neutral-800 px-4 py-2 rounded" type="text" name="username" placeholder="Username" required />
        <input class="bg-neutral-800 px-4 py-2 rounded" type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Log in" class="bg-violet-600 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed"/>
        <input hidden name="destination" value="{{ .Destination }}" />
        <input hidden name="returnUrl" value="{{ .URL }}" />
      </form>
    </div>
  {{ end }}
{{ end }}
