{{ template "layout" . }}

{{ define "title" }}{{ .TargetUser.Username }}'s Account - {{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
<div class="flex flex-col gap-4">
  <!--<h1 class="text-center font-bold text-xl">{{ .TargetUser.Username }}</h1>-->

  <!-- ignore this -->
  <div style="display: none">
    {{ range $player := .TargetUser.Players }}
      <form
        id="delete-{{ $player.UUID }}"
        action="{{ $.App.FrontEndURL }}/web/delete-player"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete {{ $player.Name }}? This action is irreversible.');"
      >
        <input name="returnUrl" value="{{ $.URL }}" />
        <input name="uuid" value="{{ $player.UUID }}" />
      </form>
    {{ end }}
  </div>

  <div style="display: none">
    {{ range $providerName := .LinkedOIDCProviderNames }}
      <form
        id="unlink-{{ $providerName }}"
        action="{{ $.App.FrontEndURL }}/web/oidc-unlink"
        method="post"
        onsubmit="return confirm('Are you sure you want to unlink your {{ $providerName }} account? You will no longer be able to log in to your {{ $.App.Config.ApplicationName }} account using {{ $providerName }}.');"
      >
        <input name="returnUrl" value="{{ $.URL }}" />
        <input name="userUuid" value="{{ $.TargetUser.UUID }}" />
        <input name="providerName" value="{{ $providerName }}" />
      </form>
    {{ end }}
  </div>
  <!-- ignoring done -->

  <h3 class="text-2xl font-bold">{{ if .AdminView }}{{ .TargetUser.Username }}'s{{ else }}Your{{ end }} Minecraft Profile</h3>
  {{ if .TargetUser.Players }}
    {{ range $player := .TargetUser.Players }}
      <a href="{{ $.App.FrontEndURL }}/web/player/{{ $player.UUID }}">
        <button class="bg-violet-600 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed">
          Profile
        </button>
      </a>
    {{ end }}
  {{ else }}
    No players yet.
  {{ end }}
  {{ if or (and .App.Config.AllowAddingDeletingPlayers (or (lt (len .TargetUser.Players) .MaxPlayerCount) (lt .MaxPlayerCount 0))) .User.IsAdmin }}
    {{ if .App.Config.CreateNewPlayer.Allow }}
      {{ if or .User.IsAdmin .App.Config.CreateNewPlayer.AllowChoosingUUID }}
        <h4>Create a new player</h4>
      {{ else }}
        <p>Create a new player with a random UUID:</p>
      {{ end }}
      <form action="{{ .App.FrontEndURL }}/web/create-player" method="post">
        <input hidden name="userUuid" value="{{ .TargetUser.UUID }}">
        <input
          type="text"
          name="playerName"
          placeholder="Player name"
          maxlength="{{ .App.Constants.MaxPlayerNameLength }}"
          required
        />
        {{ if or .User.IsAdmin .App.Config.CreateNewPlayer.AllowChoosingUUID }}
          <input
            class="long"
            type="text"
            name="playerUuid"
            placeholder="Player UUID (leave blank for random)"
            pattern="^[0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12}$"
          />
        {{ end }}
        <input hidden name="returnUrl" value="{{ .URL }}" />
        <input type="submit" value="Create player" />
      </form>
    {{ end }}
    {{ if .App.Config.ImportExistingPlayer.Allow }}
      <h4>Import a(n) {{ .App.Config.ImportExistingPlayer.Nickname }} player</h4>
      {{ if .App.Config.ImportExistingPlayer.RequireSkinVerification }}
        <p>
          Create a new player with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} player.
          Requires verification that you own the account.
        </p>
        <form action="{{ .App.FrontEndURL }}/web/create-player-challenge" method="get">
          <input
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} player name"
            maxlength="{{ .App.Constants.MaxUsernameLength }}"
            required
          />
          <input hidden name="userUuid" value="{{ .TargetUser.UUID }}">
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="Continue" />
        </form>
      {{ else }}
        <p>
          Create a new player with the UUID of an existing
          {{ .App.Config.ImportExistingPlayer.Nickname }} player.
        </p>
        <form action="{{ .App.FrontEndURL }}/web/create-player" method="post">
          <input
            type="text"
            name="playerName"
            placeholder="{{ .App.Config.ImportExistingPlayer.Nickname }} Player name"
            maxlength="{{ .App.Constants.MaxPlayerNameLength }}"
            required
          />
          <input hidden type="checkbox" name="existingPlayer" checked />
          <input hidden name="userUuid" value="{{ .TargetUser.UUID }}">
          <input hidden name="returnUrl" value="{{ .URL }}" />
          <input type="submit" value="Create player" />
        </form>
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if gt (len .App.OIDCProvidersByName) 0 }}
    <h3 class="text-2xl font-bold">Linked Accounts</h3>
    {{ if gt (len $.LinkedOIDCProviderNames) 0 }}
      <p>
        These external accounts are linked to {{ if .AdminView }}{{ .TargetUser.Username }}'s{{ else }}your{{ end }} {{ .App.Config.ApplicationName }} account:
      </p>
      <table>
        <tbody>
          {{ range $providerName := $.LinkedOIDCProviderNames }}
            <tr>
              <td>{{ $providerName }}</td>
              <td>
                <input
                  type="submit"
                  form="unlink-{{ $providerName }}"
                  value="Remove"
                  {{ if le (len $.LinkedOIDCProviderNames) 1 }}disabled title="Can't remove the last linked OIDC account."{{ end }}
                />
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ else }}
      <p>
        Astrality is not linked to {{ if .AdminView }}{{ .TargetUser.Username }}'s{{ else }}your{{ end }} {{ .App.Config.ApplicationName }} account.
        <br>
        <span class="text-yellow-300">If you link with an Astrality account,
        you will no longer be able to log in using your {{ .App.Config.ApplicationName }} password.
        <br>
        You'll need to use your Minecraft Token to log in to Elysium Launcher.</span>
      </p>
    {{ end }}
    {{ if and (eq .User.UUID .TargetUser.UUID) (gt (len $.UnlinkedOIDCProviders) 0) }}
      {{ range $provider := $.UnlinkedOIDCProviders }}
        <a href="{{ $provider.AuthURL }}">
          <button class="bg-neutral-800 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed">
            <img src="https://assets.astrality.party/brand/astrality/astrality-logo.png" class="h-8">
            Link with {{ $provider.Name }}
          </button>
        </a>
      {{ end }}
    {{ end }}
  {{ end }}

  <h3 class="font-bold text-2xl">Elysium Account settings</h3>
  <form action="{{ .App.FrontEndURL }}/web/update-user" method="post" enctype="multipart/form-data">
    <div class="flex flex-col gap-4 mb-4">
      {{ if and .App.Config.AllowPasswordLogin (eq (len $.LinkedOIDCProviderNames) 0) }}
        <p>
          <label for="password">Password</label><br />
          <input type="password" name="password" id="password" class="bg-neutral-800 px-4 py-2 rounded" placeholder="Leave blank to keep" />
        </p>
      {{ end }}
      <div class="flex flex-col gap-1">
        <label for="minecraftToken" class="font-bold text-xl">Minecraft Token</label>
        <small class="text-neutral-300 italic">Can be used instead of a password to sign in to Minecraft launchers.</small>
        <input type="text" name="minecraftToken" id="minecraft-token" class="bg-neutral-800 p-2 rounded" readonly value="{{ .TargetUser.MinecraftToken }}" />
        <label for="reset-minecraft-token">
          <input type="checkbox" name="resetMinecraftToken" id="reset-minecraft-token" />
          Reset Token
        </label>
      </div>
      <input hidden name="uuid" value="{{ .TargetUser.UUID }}" />
      <input hidden name="returnUrl" value="{{ .URL }}" />
    </div>
    <input class="bg-violet-500 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed" type="submit" value="Save changes" />
  </form>
  <form class="md:self-end" action="{{ .App.FrontEndURL }}/web/delete-user" method="post" onsubmit="return confirm('Are you sure? This action is irreversible.');">
    <input hidden name="uuid" value="{{ .TargetUser.UUID }}" />
    <input hidden name="returnUrl" value="{{ if .AdminView }}
        {{ .App.FrontEndURL }}/web/admin
      {{ else }}
        {{ .App.FrontEndURL }}
      {{ end }}"
    />
    <input type="submit" class="bg-red-500 rounded px-4 py-2 text-base text-white hover:enabled:bg-primary/90 flex gap-2 items-center justify-center transition-all active:enabled:scale-[98%] disabled:opacity-50 disabled:cursor-not-allowed" value="Delete Account" />
  </p>
</div>
{{ end }}
